:root {
    --list-border-primary: var(--border-third);
    --list-font-size-primary: 1.5rem;

    --list-spacing-pd-banner: 3rem 1rem 1rem 1rem;
    --list-spacing-pd-primary: 1rem 0;

    --item-text-color-primary: var(--text-color-primary);
    --item-text-color-secondary: #aaa;
}