/* 상단 Logo */
.shop__top__nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: var(--spacing-top-mg);
    z-index: 400;
}

.top__nav__follow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top__nav__search {
    justify-self: end;
}

.top__nav__btn {
    border: var(--border-button);
    border-radius: 2rem;
    background-color: var(--header-nav-bg);
    padding: var(--spacing-pd);
    margin: var(--spacing-mg);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.top__nav__btn:disabled {
    opacity: 0.4;
}

.top__nav__logo {
    color: var(--logo-primary);
    justify-self: center;

    font-size: var(--logo-font-size);
    font-weight: bolder;
}

.top__nav__search .top__nav__btn {
    gap: 1rem;
}

.search__box__disable {
    display: none;
}

.search__box {
    display: block;
    position: absolute;
    z-index: 999;
    margin-top: 0.5rem;
    padding: 1rem 3rem;
    border: var(--border-primary);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    background-color: var(--background);

    min-width: max-content;
    white-space: nowrap;
}

.search__input {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 8px;
    position: relative;
}

.search__input input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 18px 8px;
    font-size: 14px;
}

.search__input label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    color: #999;
}

.search__input input:focus + label,
.search__input input:not(:placeholder-shown) + label {
    top: 10px;
    font-size: 12px;
}

.search__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    list-style: none;
}

@media (max-width: 800px) {
    .shop__top__nav {
        font-size: var(--mobile-font-size-small);
    }
    .top__nav__logo {
        font-size: var(--mobile-font-size-logo);
    }
    .top__nav__btn {
        font-size: var(--mobile-font-size-small);
    }
    .search__box {
        left: 40%;
        padding: 0.5rem 1.5rem;
    }
    .search__input input {
        padding: 12px 4px;
        font-size: 12px;
    }
    .search__input input:focus + label,
    .search__input input:not(:placeholder-shown) + label {
        top: 8px;
        font-size: 10px;
    }
}