.nb__sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;

    width: 260px;
    height: 100vh;
    background: #1f2937;

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.nb__sidebar.active {
    transform: translateX(0);
}

.nb__sidebar__nav a{
    display: flex;
    flex-direction: column;
    text-align: center;

    color: white;
    padding: 30px 10px 10px;
    gap: 10px;
}

.nb__sidebar__nav a:hover{
    background: #474876;
}