.hd__container {
    background-color: #000;
    border-radius: 16px 16px 0 0;
    margin: 24px auto;
    padding: 4px 12px;
    width: min(100% - 32px, 900px);
}

.hd__inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
/*  flex + absolute + nowrap 조합에선
    flex item의 최소 크기 문제가 발생하기에
    항상 오른쪽에 해당하는 부분이 짤리는 문제가 발생하게 된다.
    노트 형식의 탭 구조 header에선
    grid 방식을 사용하여
    grid-template-columns: auto 1fr auto
    를 사용하는 것이 권장된다.
*/

/* 좌측 연도 */
.hd__year {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

/* 우측 이름 */
.hd__author {
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
}

@media (min-width: 600px) {
    .hd__container {
        margin: 35px auto;
        padding: 8px 24px;
        width: min(100% - 16px, 1400px);
    }

    .hd__year, .hd__author {
        font-size: 16px;
    }
}