.detailList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.item {
    list-style-type: none;
}

.status {
    text-align: center;
}