@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #bbb;
  --header-nav-bg: Transparent;

  --text-color-primary: #000;
  --text-color-secondary: #fff;

  --logo-color: navy;

  --spacing-pd: 8px;
  --spacing-mg: 8px;
  --spacing-gap: 10px;

  --content-width-primary: 100%;
  --content-width-secondary: 90%;

  --border-primary: 1px solid #ccc;
  --border-secondary: 1px solid #eee;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--background);
  color: var(--text-color-primary);

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}