/*중앙 네비*/
.navbar {
    position: relative;
}

.nb__list {
    display: flex;
    justify-content: center;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;

    position: absolute;
    top: -20px;
    left: 55%;
    transform: translateX(-50%);

    white-space: nowrap;
}

/*탭 스타일*/
.nb__item {
    padding: 8px 10px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #dcdcdc;
    background-color: #f2f2f2;
    color: #777;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nb__item:hover {
    background-color: #e6e6e6;
}

.nb__item.active {
    background-color: #2d5bff;
    color: white;
    border: 2px solid black;
    border-bottom: none;
}

@media (min-width: 600px) {
    .nb__list {
        gap: 20px;
        top: -29px;
        left: 70%;
    }

    .nb__item {
        font-size: 18px;
        padding: 10px 55px;
    }
}