.hd__nav {
    display: flex;
    flex-direction: row;
    gap: 50px;

    padding-left: 20px;
}

.hd__nav.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.hd__sidebar__btn {
    position: absolute;
    right: 20px;
    z-index: 200;
    transition: transform 0.3s ease;

    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
}

.hd__sidebar__btn.active {
    transform: translateX(-200px);
}

@media (min-width: 800px) {
    .hd__sidebar__btn.active {
        transform: translateX(-280px);
    }
}