.ad__indicator {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    gap: 8px;
    margin-top: 16px;
    z-index: 2;
}

.ad__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #aaa;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.8;
}

.active {
    background: #111;
    opacity: 1;
    transform: scale(1.2);
}