*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main-container {
  width: min(100% - 32px, 900px);
  margin: 0 auto;
  border: 2px solid black;
  border-top: none;
  padding: 24px;
  background-color: white;

  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 600px) {
  .main-container {
    width: min(100% - 16px, 1400px);

    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
}